:root{
    
        --color-background: #ffffff;
        --button-color: #333333;
        --button-color-light: #4e4b4b;
        --title-color:#333333;
        --body-text-color:#4f4f4f;
        --footer-color: #bdbdbd;
        font-size: 14px;
}

.container{
        max-width: 100vw;
        max-height: 100vh;
        background: var(--color-background) ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}


        .title_404{
            position: absolute;
            width: 133px;
            height:25px;
            left: 6%;
            top: 3%;
            
            font-family: 'Inconsolata',monospace;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 25px;
            letter-spacing: -0.08em;
            text-transform: uppercase;
            
            color: var(--title-color);
        }

        .body_image{
                position: absolute;
                left: 5.35%;
                right: 57.21%;
                top: 24.54%;
                bottom: 34.03%;
        }

        .body_image img{
                width: 100%;
                
        }

        .bad_news{
                position: absolute;
                width: 40rem;
                height: 13rem;
                left: 50%;
                top: 24%;

                font-family: 'Space Mono';
                font-style: normal;
                font-weight: bold;
                font-size: 4.5rem;
                line-height: 95px;
                letter-spacing: -0.035em;

                color: var(--title-color);
        }

        .body_text{
                position: absolute;
                width: 381px;
                height: 108px;
                left: 50%;
                top: 55%;

                font-family: 'Space Mono';
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 36px;
                letter-spacing: -0.035em;
                color: var(--body-text-color);
        }

        .btn .button_back{
                position: absolute;
                width: 216px;
                height: 68px;
                left: 50%;
                top: 75%;
                background: var(--button-color);
                color: #ffffff;
                transition:  0.3s;
        }

        .btn .button_back:hover{
                background: var(--button-color-light);
        }

        .footer{
                position: absolute;
                width: 287px;
                height: 17px;
                
                left: 40%;
                top: 95%;


                font-family: 'Montserrat';
                font-weight: 700;
                font-style: normal;
                font-size: 14px;
                line-height: 17.07px;
                text-align: center;
                color: var(--footer-color);

        }

        @media(max-width:699px){
                :root{
                        font-size: 40%;
                }
        }

        